html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 /*
  border: 1px solid #cec7c7; 
*/
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container *:after { 
 /*content:attr(class);*/
 position: absolute;
 top: 0;
 left: 0;
 

}

.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 3fr 3fr 0fr 0fr;
  grid-template-rows: 0.5fr 3.5fr 2fr;
  grid-template-areas: "Menu Menu Menu . ." "Sidebar Main Main . ." "Sidebar Main Main . .";
  background-color: #2c2c2c;
  
}

.Menu { 
  grid-area: Menu; 
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 5px;
}

.Sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr;
  grid-template-areas: "Coordinates" "AutoMode" "JOGandMDI" "Sliders";
  grid-area: Sidebar;
}

.Coordinates {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  grid-template-areas: "MachineCoord" "MachineCoordData" "WorkCoord" "WorkCoordData";
  grid-area: Coordinates;
  text-align: center;
  vertical-align: middle;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 5px;
  color: #0a968f;
  font-size: 2em;
}

.MachineCoord { grid-area: MachineCoord; }

.WorkCoord { grid-area: WorkCoord; }

.MachineCoordData {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "MachineCoordX MachineCoordDX MachineCoordY MachineCoordDY MachineCoordZ MachineCoordDZ";
  grid-area: MachineCoordData;
}

.MachineCoordX { grid-area: MachineCoordX; }

.MachineCoordY { grid-area: MachineCoordY; }

.MachineCoordZ { grid-area: MachineCoordZ; }

.MachineCoordDY { 
  grid-area: MachineCoordDY;
  box-shadow: inset 0 0 6px;
}

.MachineCoordDX { 
  grid-area: MachineCoordDX; 
  box-shadow: inset 0 0 6px;
}

.MachineCoordDZ { 
  grid-area: MachineCoordDZ;
  box-shadow: inset 0 0 6px;
}

.WorkCoordData {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "WorkCoordX WorkCoordDX WorkCoordY WorkCoordDY WorkCoordZ WorkCoordDZ";
  grid-area: WorkCoordData;
}

.WorkCoordX { grid-area: WorkCoordX; }

.WorkCoordDX { 
  grid-area: WorkCoordDX;
  box-shadow: inset 0 0 6px;
}

.WorkCoordY { grid-area: WorkCoordY; }

.WorkCoordDY {
   grid-area: WorkCoordDY;
   box-shadow: inset 0 0 6px;
  }

.WorkCoordZ { grid-area: WorkCoordZ; }

.WorkCoordDZ {
   grid-area: WorkCoordDZ;
   box-shadow: inset 0 0 6px;
  }

.AutoMode {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AutoCheck AutoName AutoButtons";
  grid-area: AutoMode;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 5px;
}

.AutoButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Btn1 Btn2 Btn3 Btn4" "Btn5 Btn6 Btn7 Btn8";
  grid-area: AutoButtons;
  margin: 1px;
}

.Btn1 { 
  grid-area: Btn1;
  margin: 1px;
}

.Btn2 { 
  grid-area: Btn2;
  margin: 1px;
}

.Btn3 { 
  grid-area: Btn3;
  margin: 1px;
}

.Btn4 { 
  grid-area: Btn4; 
  margin: 1px;
}

.Btn5 { 
  grid-area: Btn5; 
  margin: 1px;
}

.Btn6 { 
  grid-area: Btn6;
  margin: 1px;
}

.Btn7 {
   grid-area: Btn7;
   margin: 1px;
}

.Btn8 { 
  grid-area: Btn8;
  margin: 1px;
}

.AutoName { 
  grid-area: AutoName; 
  font-size: 2em;
}

.AutoCheck { grid-area: AutoCheck; }

.AutoCheck button {
  border-radius: 50%;
}

.JOGandMDI { 
  
  grid-area: JOGandMDI;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 5px;
}

.Sliders {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "FeedOverride" "RapidOverride" "SpindleOverride" "JogSpeed" "MaxVelocity";
  grid-area: Sliders;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 5px;
}

.Sliders input {
  width: 99%;
  height: 100%;
  margin: 2px;
}

.FeedOverride {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Name Value SliderFO";
  grid-area: FeedOverride;
}

.SliderFO { grid-area: SliderFO; }

.Value { 
  grid-area: Value; 
  height: 100%;
  align-items: center;
  align-content: center;
  vertical-align: middle;s
}

.Name { 
  grid-area: Name;
}

.RapidOverride {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Name Value SliderRO";
  grid-area: RapidOverride;
}

.SliderRO { grid-area: SliderRO; }

.Value { grid-area: Value; }

.Name { grid-area: Name; }

.SpindleOverride {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Name Value SliderSO";
  grid-area: SpindleOverride;
}

.SliderSO { grid-area: SliderSO; }

.Value { grid-area: Value; }

.Name { grid-area: Name; }

.JogSpeed {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Name Value SliderJS";
  grid-area: JogSpeed;
}

.SliderJS { grid-area: SliderJS; }

.Value { grid-area: Value; }

.Name { grid-area: Name; }

.MaxVelocity {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Name Value SliderMV";
  grid-area: MaxVelocity;
}

.SliderMV { grid-area: SliderMV; }

.Value { grid-area: Value; }

.Name { 
  grid-area: Name;
  text-align: center;
  font-size: 2em;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "Visualisation Visualisation Visualisation" "Logging Logging Logging";
  grid-area: Main;
}

.Visualisation { 
  grid-area: Visualisation;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 0px;
}

.Logging {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "HistoryProgram Log" "HistoryProgram Log";
  grid-area: Logging;
  background-color:  #555555;
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 2px 5px 2px 0px;
}

.HistoryProgram { grid-area: HistoryProgram; }

.Log { grid-area: Log; }


.AutoButtons button  {
  height: 100%;
  width: 100%;
  border-radius: 2px;
}

.Value {
  border: 1px solid #707070;
  text-align: center;
  color: #1ba7a0;
  background-color: #fdfdfd;
}